<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/main}">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
    <div layout:fragment="content">
        <span class="layui-breadcrumb">
          <a href="/">首页</a>
          <a href="/host/list">主机列表</a>
          <a th:if="${host.id}" href="/host/save"><cite>更新主机</cite></a>
          <a th:unless="${host.id}" href="/host/save"><cite>新建主机</cite></a>
        </span>
        <form class="layui-form" action="/host/save" method="post" style="margin-top: 15px">
            <input th:if="${host.id}" type="hidden" name="id" th:value="${host.id}">
            <div class="layui-form-item">
                <label class="layui-form-label">主机名</label>
                <div class="layui-input-block">
                    <input th:value="${host.hostName}" type="text" name="hostName" required  lay-verify="required" placeholder="请输主机名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">IP地址</label>
                <div class="layui-input-block">
                    <input th:value="${host.ip}" type="text" name="ip" required  lay-verify="required" placeholder="请输IP地址" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input th:value="${host.userName}" type="text" name="userName" required  lay-verify="required" placeholder="请输用户名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</body>
</html>
