<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{/layout/main}">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
    <div layout:fragment="content">
        <span class="layui-breadcrumb">
          <a href="/">首页</a>
          <a href="/auth/changePassword"><cite>更改本人密码</cite></a>
        </span>
        <form class="layui-form" action="/auth/changePassword" method="post" style="margin-top: 15px">
            <div class="layui-form-item">
                <label class="layui-form-label">当前密码</label>
                <div class="layui-input-block">
                    <input type="text" name="currentPassword" required lay-verify="required" placeholder="请输入当前密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">修改密码</label>
                <div class="layui-input-block">
                    <input type="text" name="newPassword1" required lay-verify="required" placeholder="请输入当前密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">再次修改密码</label>
                <div class="layui-input-block">
                    <input type="text" name="newPassword2" required lay-verify="required" placeholder="请输入当前密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
</body>
</html>
